/data/

/scripts/*
!/scripts/release.sh
!/scripts/lib/common.sh
!/scripts/generate-changelog.sh
!/scripts/sync-umbrel-apps.sh
!/scripts/bump-umbrel-app-version.sh
!/scripts/beta-release.sh
!/scripts/setup.sh

.env
node_modules
.docker/
.pluto-npm-install.lock/
