services:
  app_proxy:
    environment:
      APP_HOST: pluto_frontend_1
      APP_PORT: 7777
    depends_on:
      - frontend
    restart: on-failure

  discovery:
    image: ghcr.io/plutomining/pluto-discovery:1.1.2@sha256:0a68b82c33df70a6be0a1493c142f1f6bf9a03747bad6fe3b7c2cf75f52c9984
    network_mode: "host"
    pid: host
    cap_add:
      - NET_RAW
      - NET_ADMIN
    restart: on-failure
    environment:
      - PORT=7775
    volumes:
      - ${APP_DATA_DIR}/data/leveldb:/home/node/app/data
    user: "1000:1000"

  backend:
    image: ghcr.io/plutomining/pluto-backend:1.1.4@sha256:8dda992057603a463d7fb88b55497d1678799efee081ada46165133f79cdbe24
    pid: host
    restart: on-failure
    environment:
      - PORT=7776
      - AUTO_LISTEN=true
      - DISCOVERY_SERVICE_HOST=http://172.17.0.1:7775
      - DELETE_DATA_ON_DEVICE_REMOVE=true
    volumes:
      - ${APP_DATA_DIR}/data/leveldb:/home/node/app/data
    depends_on:
      prometheus:
        condition: service_healthy
    user: "1000:1000"

  frontend:
    image: ghcr.io/plutomining/pluto-frontend:1.1.5@sha256:2c51850456dae11d8da9fef294a2da4c577f175859762d7c666e0214ec3b89d8
    pid: host
    restart: on-failure
    depends_on:
      - backend
    environment:
      - PORT=7777
      - BACKEND_DESTINATION_HOST=http://pluto_backend_1:7776
    volumes:
      - ${APP_DATA_DIR}/umbrel-app.yml:/tmp/umbrel-app.yml:ro
    user: "1000:1000"

  prometheus:
    image: ghcr.io/plutomining/pluto-prometheus:1.1.2@sha256:64bdc2c383e17df9925fe4fbe0dd2972b52616dcfb51489f0aa487307f19c53c
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.time=7d"
      - "--storage.tsdb.retention.size=5GB"
    volumes:
      - ${APP_DATA_DIR}/data/prometheus:/prometheus
      - ${APP_DATA_DIR}/data/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    pid: host
    healthcheck:
      test:
        - "CMD-SHELL"
        - "wget --spider --quiet http://localhost:9090/-/ready || exit 1"
      interval: 10s
      timeout: 5s
      retries: 5
    user: "65534:65534"
